<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN METADATA -->
    <meta charset="utf-8" />
    <title>Rebootex</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="icon" href="/img/favicon.ico" />
    <!-- END METADATA -->
    <!-- BEGIN GLOBAL STYLES -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&subset=latin,cyrillic" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <!-- END GLOBAL STYLES -->
    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet" type="text/css" href="/lib/uniform/css/uniform.default.min.css" />
    <!-- END PLUGINS STYLES -->
    <!-- BEGIN APP STYLES -->
    <link rel="stylesheet" type="text/css" href="/css/shared/components-rounded.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/shared/plugins.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/shared/layout.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/shared/main.css" />
    <!-- END APP STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <!-- END PAGE STYLES -->
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo">
    <!-- BEGIN CONTAINER -->
    <div class="wrapper">
        <!-- BEGIN HEADER -->
        <%- partial('_header') %>
        <!-- END HEADER -->

        <%- body %>

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN GLOBAL SCRIPTS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    <!-- BEGIN PLUGINS SCRIPTS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.7/jquery.slimscroll.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70.0-2014.11.23/jquery.blockUI.min.js"></script>
    <script src="/lib/uniform/jquery.uniform.min.js"></script>
    <!-- END PLUGINS SCRIPTS -->
    <!-- BEGIN APP SCRIPTS -->
    <!--<script src="/js/shared/system.js"></script>-->
    <script src="/js/shared/app.js"></script>
    <script src="/js/shared/layout.min.js"></script>
    <!-- END APP SCRIPTS -->
    <!-- BEGIN PAGE SCRIPTS -->
    <!-- END PAGE SCRIPTS -->
</body>
</html>