<%
    if (!isPjax) {
        layout('./index')
    }
%>
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="/login/forget-password" method="post">
    <h3 class="form-title font-blue">Забыли пароль?</h3>
    <p>Чтобы восстановить пароль, введите ваш адрес электронной почты.</p>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Адрес электронной почты" name="email" />
    </div>
    <div class="form-actions">
        <a href="/login" class="btn default" data-pjax=".content">Назад</a>
        <button type="submit" class="btn blue uppercase pull-right">Восстановить</button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->