<%
    if (!isPjax) {
        layout('../shared/layout');
    }
%>

<div class="container-fluid">
    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>Главная</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Главная</a>
                </li>
            </ol>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="0">0</span>
                                <small class="font-green-sharp">₴</small>
                            </h3>
                            <small>ПРИБЫЛЬ</small>
                        </div>
                        <div class="icon">
                            <i class="icon-calculator"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                                <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                                    <span class="sr-only">100% прогресс</span>
                                </span>
                        </div>
                        <div class="status">
                            <div class="status-title">Прошлый месяц: <span class="font-green-sharp">0 <small>₴</small></span></div>
                            <div class="status-number"> 100% </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-yellow-casablanca">
                                <span data-counter="counterup" data-value="0">0</span>
                                <small class="font-yellow-casablanca">₴</small>
                            </h3>
                            <small>ДОХОД</small>
                        </div>
                        <div class="icon">
                            <i class="icon-speedometer"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                                <span style="width: 100%;" class="progress-bar progress-bar-success yellow-casablanca">
                                    <span class="sr-only"> 100% прогресс</span>
                                </span>
                        </div>
                        <div class="status">
                            <div class="status-title">Прошлый месяц: <span class="font-yellow-casablanca">0 <small>₴</small></span></div>
                            <div class="status-number"> 100% </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="0">0</span>
                            </h3>
                            <small>ЗАКАЗЫ</small>
                        </div>
                        <div class="icon">
                            <i class="icon-basket"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                                <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                                    <span class="sr-only">100% прогресс</span>
                                </span>
                        </div>
                        <div class="status">
                            <div class="status-title">Прошлый месяц: <span class="font-blue-sharp">0</span></div>
                            <div class="status-number"> 100% </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-purple-soft">
                                <span data-counter="counterup" data-value="0">0</span>
                            </h3>
                            <small>КЛИЕНТЫ</small>
                        </div>
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                                    <span style="width: 100%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only">100% прогресс</span>
                                    </span>
                        </div>
                        <div class="status">
                            <div class="status-title">Прошлый месяц: <span class="font-purple-soft">0</span></div>
                            <div class="status-number"> 100% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- BEGIN FOOTER -->
    <%
        var date = new Date();
        var year = date.getFullYear();
    %>
    <div class="copyright">&copy; Rebootex <%= year %></div>
    <a href="/" class="go2top">
        <i class="icon-arrow-up"></i>
    </a>
    <!-- END FOOTER -->
</div>

